:root{
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Poppins', sans-serif;
    --bg-color-1: #FFFAF5;
    --bg-color-2: #FFF6ED;
    --primary-color: #FF5B2E;
    --secondary-color: #000958;
    --color-1: #656689;
    --color-2: #5E6085;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-1);
    background: var(--bg-color-1);
}

/* Common */
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a{
    text-decoration: none;
    color: inherit;
}

.heading{
    color: var(--secondary-color);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.heading.lv2{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.heading.lv3{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.text-1, .text-2{
    margin-top: 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.86; /* 187.5% */
}

.text-2{
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__text{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
}
/*  */

/* Button */
.btn{
    display: inline-block;
    --height: 56px;
    border-radius: calc(var(--height) / 2);
    line-height: calc(var(--height) - 2px);
    text-align: center;
    font-size: 1.6rem;
    transition: opacity .25s;
}

.btn:hover{
    opacity: 0.7;
}

.btn.btn-1{
    background: transparent;
    color: var(--primary-color);
    border: 1px solid currentColor;
}

.btn.btn-2{
    background: #FF5B2E;
    border-color: transparent;
    color: #FFF;
}
/*  */

.deco{
    position: absolute;
}

/* Header */
.header{
    background-color: var(--bg-color-1);
    padding: 18px 0 77px;
}

/* Header Top */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.navbar ul{
    display: flex;
}

.header-top .signup-btn{
    --height: 50px;
    color: var(--secondary-color);
    min-width: 117px;
    font-size: 1.4rem;
}

.navbar__link{
    display: inline-block;
    padding: 5px 18px;
    color: var(--color-2);
    font-size: 14px;
    font-weight: 500;
}

.navbar__link-active{
    color: var(--secondary-color);
    font-weight: 600;
}

/* Hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.hero__media{
    position: relative;
    width: 47%;
    padding-bottom: 94px;
}

.hero__wrapper{
    position: relative;
    z-index: 2;
    border-radius: 16px;
    overflow: hidden;
}

.hero__wrapper:nth-child(1){
    width: 388px;
    height: 488px;
    border: 3px solid #FFF;
    background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}

.hero__wrapper:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 186px;
    height: 244px;
    background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__img--small{
    display: block;
    margin-top: 24px;
}

/* Hero Card */
.hero-card{
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    width: 250px;
    height: 156px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 3;
}

.hero-card__row{
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.hero-card__avatar{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.hero-card__row:nth-child(1) .hero-card__avatar{
    background: #FEC23F;
}

.hero-card__row:nth-child(2) .hero-card__avatar{
    background: #C6E2FA;
}

.hero-card__title{
    color: #181E52;
    font-family: var(--font-heading);
    font-size: 1.4rem;
    font-weight: 600;
}

.line-long, .line-short{
    margin-top: 6px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--secondary-color);
}

.line-long{
    width: 118px;
}

.line-short{
    width: 39px;
}
.hero-card__line{
    margin: 18px 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #F2F2F2;
}

/* Decoration */
.hero__deco-1{
    left: -57.99px;
    top: 247.5px;
}

.hero__deco-2{
    top: 16.66px;
    left: 377.15px;
}

.hero__content{
    width: 44%;
}

.hero__heading{
    margin-bottom: 24px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__desc{
    max-width: 391px;
}

.hero__cta{
    margin-top: 38px;
}

.hero__cta--btn{
    --height: 60px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    column-gap: 10px;
    min-width: 189px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}

.hero__cta--link{
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

/* About */
.about{
    background: #FFFAF5;
    padding: 53px 0
}

.about__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content{
    width: 41%;
}

.about__label{
    display: inline-block;
    margin-bottom: 15px;
    color: #5E6085;
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.about__desc{
    max-width: 431px;
}

.about__features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 54px;
    row-gap: 34px;
}

.about__item{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.about__icon{
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #FF5D31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__icon--checked{
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    translate: -50% -50%;
    width: 11.813px;
    height: 7.875px;
    border: 2px solid #FFF2E5;
    border-top: none;
    border-right: none;
    rotate: -45deg;
}

.about__media{
    position: relative;
    width: 42%;
    height: 559px;
    border-radius: 16px;
}

.about__block{
    position: absolute;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}

.about__img{
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 21px;
    z-index: 1;
}

/* About Stats */
.about__stats{
    position: absolute;
    top: 165px;
    left: -92px;
    padding: 31px 26px 29px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
}

.about__stats--value{
    display: block;
    color: #FFF;
    text-align: center;
    font-size: 4.2rem;
    font-weight: 700;
}

.about__stats--text{
    display: block;
    max-width: 83px;
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43; /* 142.857% */
}

.about__stats--deco{
    position: absolute;
    left: 84px;
    top: -40px;
}

.about__deco{
    position: absolute;
    right: -50.63px;
    top: 157px;
}

/* Pet Care */
.pet-care{
    margin-top: 43px;
    padding: 55px 0;
    background: #FFFAF5;
}

.pet-care__inner{
    display: flex;
    align-items: center;
}

.pet-care__media{
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.pet-care__thumb{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.pet-care__deco:nth-child(1){
    top: 12.5px;
    right: 63.16px;
}

.pet-care__deco:nth-child(2){
    top: -16px;
    right: 13px;
}

.pet-care__deco:nth-child(3){
    top: 33px;
    right: -21px;
}

.pet-care__deco:nth-child(4){
    top: 268px;
    left: 468px;
}

.pet-care__deco:nth-child(5){
    top: 336px;
    right: 19px;
}

.pet-care__deco:nth-child(6){
    top: 435px;
    left: 377px;
}

.pet-care__deco:nth-child(7){
    top: 442.69px;
    left: 386.4px;
}

.pet-care__deco:nth-child(8){
    top: 446.96px;
    left: 392.37px;
}

.pet-care__content{
    width: 48%;
    margin-left: 127px;
}

.pet-care__desc{
    max-width: 511px;
}

.pet-care__list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;
    margin-left: -6px;
}

.pet-care__list::after{
    position: absolute;
    bottom: -2px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-left: 8px;
    border-radius: 5px;
    opacity: 0.07;
    background: var(--primary-color);
}

.pet-care__item{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.pet-care__item:after{
    position: absolute;
    bottom: -2px;
    content: '';
    display: inline-block;
    width: 95px;
    height: 2px;
    margin-left: 8px;
    border-radius: 2px;
    background: var(--primary-color);
    opacity: 0;
    transition: opacity .5s;
}

.pet-care__item:hover::after{
    opacity: 1;
}

.pet-care__item:nth-child(2) .pet-care__item--icon{
    display: inline-block;
    padding-top: 6px;
    padding-right: 6px;
}

.pet-care__item:nth-child(3) .pet-care__item--icon{
    display: inline-block;
    padding: 7.5px 5px;
}

.pet-care__text{
    margin-top: 36px;
    max-width: 391px;
}

.pet-care__link{
    position: relative;
    display: inline-block;
    margin-top: 32px;
    color: var(--primary-color);
}

.pet-care__link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    width: 100%;
    height: 1.5px;
    border-radius: 2px;
    background: var(--primary-color);
    transition: opacity 0.5s;
}

.pet-care__link:hover{
    opacity: 0.7;
}

/* Services */
.services{
    margin-top: 130px;
    padding: 68px 0 100px;
    background-color: #FFF6ED;
}

.services__top,
.staff__top{
    text-align: center;
}

.services__subtitle,
.staff__subtitle{
    color: var(--color-2);
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.services__body{
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.services__col{
    width: 25%;
}

.services__col:nth-child(2){
    width: 35%;
}

.services__item{
    height: 208px;
    padding: 30px 22px 30px 28px;
    background: #FFF;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
}

.services__item + .services__item{
    margin-top: 24px;
}

.services__item--title{
    position: relative;
    padding-left: 12px;
}

.services__item--title::before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.services__item--desc{
    margin-top: 18px;
    max-width: 244px;
}

.services__item--link{
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 24px;
    color: #34396A;
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.services__col:nth-child(2){
    position: relative;
    margin-top: 260px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.services__img{
    position: absolute;
    bottom: 0;
    left: -22px;
}

.services__footer{
    text-align: center;
}

.services__btn{
    --height: 56px;

    min-width: 214px;
    margin-top: -17px;
}

/* Staff */
.staff{
    margin-top: 65px;
    padding: 65px 0;
}

.staff__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    margin-top: 45px;
}

.staff__item{
    text-align: center;
}

.staff__item--top{
    position: relative;
}

.staff__wrapper{
    position: relative;
    width: 88%;
    height: 266px;
    border-radius: 129.5px;
    margin: 0 auto;
}

.staff__item:nth-child(1) .staff__wrapper{
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff__item:nth-child(2) .staff__wrapper{
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff__item:nth-child(3) .staff__wrapper{
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff__item:nth-child(4) .staff__wrapper{
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}  

.staff__item--img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 129.5px;
}

.staff__deco--top{
    bottom: 0;
    left: 0;
}

.staff__deco--bottom{
    top: 0;
    left: 0;
}

.staff__info{
    margin-top: 29px;
}

.staff__position{
    margin-bottom: 14px;
}

.staff__cta{
    margin-top: 48px;
    text-align: center;
}

.staff__btn{
    min-width: 193px;
}

/* Pricing */
.pricing{
    margin-top: 65px;
    padding: 86px 0;
    background: var(--bg-color-2);
}

.pricing__top{
    text-align: center;
}

.pricing__desc{
    max-width: 709px;
    margin: 24px auto 0;
}

.pricing__body{
    margin-top: 38px;
    padding: 0 88px;
}

.pricing__toggle{
    text-align: center;
}

.pricing__label{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 276px;
    border: 1px solid var(--primary-color);
    border-radius: 31px;
    cursor: pointer;
}

.pricing__label::after{
    position: absolute;
    right: 0;
    content: '';
    display: inline-block;
    width: 131px;
    height: 100%;
    border-radius: 31px;
    background-color: var(--primary-color);
    transition: .5s;
}

.pricing__monthly,
.pricing__yearly{
    display: inline-block;
    width: 131px;
    line-height: 56px;
    text-align: center;
    border-radius: 31px;
    z-index: 1;
    transition: color .5s;
}

.pricing__yearly{
    color: #FFF;
}
 
.pricing__toggle [type="checkbox"]:checked + label .pricing__yearly{
    color: var(--primary-color);
}

.pricing__toggle [type="checkbox"]:checked + label .pricing__monthly{
    color: #FFF;
}

.pricing__toggle [type="checkbox"]:checked + label::after{
    transform: translateX(-143px);
}

.pricing__label:hover{
    opacity: 1;
}

.pricing__deco{
    position: absolute;
}

.pricing__deco-1{
    top: -10px;
    left: 307.79px;
}

.pricing__deco-2{
    top: -21.83px;
    left: 319.98px;
    color: #5860A6;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    transform: rotate(-5deg);
    white-space: nowrap;
}

.pricing__deco-3{
    left: 300px;
    top: 14.22px;
}

.pricing__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.pricing__item{
    background: #FFF;
    border-radius: 20px;
    padding: 30px 28px 43px;
}

.pricing__item span{
    display: block;
}

.pricing__subtitle{
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.pricing__title{
    color: #3F4065;
}

.pricing__price{
    margin-top: 24.5px;
    color: var(--secondary-color);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}

.pricing__btn{
    width: 100%;
    margin-top: 22px;
}

.pricing__item--list{
    margin-top: 24px;
}

.pricing__list--item{
    position: relative;
    margin-top: 18px;
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.pricing__list--item::before{
    content: '';
    display: inline-block;
    width: 9.188px;
    height: 6.125px;
    border: 1px solid var(--primary-color);
    border-top: none;
    border-right: none;
    margin-bottom: 5px;
    rotate: -45deg;
}

/* Reviews */
.reviews{
    margin-top: 53px;
    padding: 77px 0 129px;
}

.reviews__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid currentColor;
    background: transparent;
    flex-shrink: 0;
    transition: background, color, border-color;
    transition-duration: .25s;
}

.reviews button:hover{
    background: var(--primary-color);
    color: #FFF;
    border-color: var(--primary-color);
    cursor: pointer;
}

.next-btn{
    transform: rotate(180deg);
}

.reviews__body{
    display: flex;
    align-items: center;
    column-gap: 115px;
    margin: 0 76px 0 44px;
}

.reviews__avatar{
    width: 274px;
    height: 427px;  
    border-radius: 137px;
    overflow: hidden;
}

.reviews__wrapper{
    position: relative;
    margin-top: 77px;
    width: 274px;
    height: 350px;
    background: #FFDA54;
    border-radius: 137px;
}

.reviews__img{
    position: absolute;
    bottom: 0;
    width: 100%;
    object-fit: contain;
}

.reviews__content{
    max-width: 553px;
}

.reviews__text{
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56; /* 155.556% */
}

.reviews__name{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 600;
}

.reviews__name::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background: #000;
}

.reviews__dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    column-gap: 4px;
    margin-top: 56px;
}

.reviews__dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E;
}

.reviews__dot--active{
    width: 24px;
    height: 8px;
    background: var(--primary-color);
}












