:root{
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Poppins', sans-serif;
    --bg-color-1: #FFFAF5;
    --bg-color-2: #FFF6ED;
    --primary-color: #FF5B2E;
    --secondary-color: #000958;
    --color-1: #656689;
    --color-2: #5E6085;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-1);
}

/* Common */
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a{
    text-decoration: none;
    color: inherit;
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__text{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
}

/* Button */
.btn{
    --height: 56px;
    border-radius: calc(var(--height) / 2);
    line-height: calc(var(--height) - 2px);
    text-align: center;
    transition: opacity .25s;
}

.btn:hover{
    opacity: 0.7;
}

.btn.btn-1{
    background: transparent;
    color: var(--secondary-color);
    border: 1px solid currentColor;
}

/* Header */
.header{
    background-color: var(--bg-color-1);
    padding-top: 18px;
}

/* Header Top */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    background: orange;
}

.navbar ul{
    display: flex;
}

.signup-btn{
    --height: 50px;
    min-width: 117px;
}

.navbar__link{
    display: inline-block;
    padding: 5px 18px;
    color: var(--color-2);
    font-size: 14px;
    font-weight: 500;
}

.navbar__link-active{
    color: var(--secondary-color);
    font-weight: 600;
}

