:root{
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Poppins', sans-serif;
    --bg-color-1: #FFFAF5;
    --bg-color-2: #FFF6ED;
    --primary-color: #FF5B2E;
    --secondary-color: #000958;
    --color-1: #656689;
    --color-2: #5E6085;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-1);
}

/* Common */
.container{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

a{
    text-decoration: none;
    color: inherit;
}

.heading{
    color: var(--secondary-color);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.text-1{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.86; /* 187.5% */
}

/* Logo */
.logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.logo__text{
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
}
/*  */

/* Button */
.btn{
    display: inline-block;
    --height: 56px;
    border-radius: calc(var(--height) / 2);
    line-height: calc(var(--height) - 2px);
    text-align: center;
    font-size: 1.6rem;
    transition: opacity .25s;
}

.btn:hover{
    opacity: 0.7;
}

.btn.btn-1{
    background: transparent;
    color: var(--secondary-color);
    border: 1px solid currentColor;
}

.btn.btn-2{
    background: #FF5B2E;
    border-color: transparent;
    color: #FFF;
}
/*  */

/* Header */
.header{
    background-color: var(--bg-color-1);
    padding: 18px 0 77px;
}

/* Header Top */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.navbar ul{
    display: flex;
}

.signup-btn{
    --height: 50px;
    min-width: 117px;
    font-size: 1.4rem;
}

.navbar__link{
    display: inline-block;
    padding: 5px 18px;
    color: var(--color-2);
    font-size: 14px;
    font-weight: 500;
}

.navbar__link-active{
    color: var(--secondary-color);
    font-weight: 600;
}

/* Hero */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.hero__media{
    position: relative;
    width: 47%;
    padding-bottom: 94px;
}

.hero__wrapper{
    position: relative;
    z-index: 2;
    border-radius: 16px;
    overflow: hidden;
}

.hero__wrapper:nth-child(1){
    width: 388px;
    height: 488px;
    border: 3px solid #FFF;
    background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
}

.hero__wrapper:nth-child(2){
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 186px;
    height: 244px;
    background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
    border: 2px solid rgba(255, 255, 255, 0.65);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__img--small{
    display: block;
    margin-top: 24px;
}

/* Hero Card */
.hero-card{
    position: absolute;
    left: 129px;
    bottom: 0;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    width: 250px;
    height: 156px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 3;
}

.hero-card__row{
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.hero-card__avatar{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.hero-card__row:nth-child(1) .hero-card__avatar{
    background: #FEC23F;
}

.hero-card__row:nth-child(2) .hero-card__avatar{
    background: #C6E2FA;
}

.hero-card__title{
    color: #181E52;
    font-family: var(--font-heading);
    font-size: 1.4rem;
    font-weight: 600;
}

.line-long, .line-short{
    margin-top: 6px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--secondary-color);
}

.line-long{
    width: 118px;
}

.line-short{
    width: 39px;
}
.hero-card__line{
    margin: 18px 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #F2F2F2;
}

/* Decoration */
.decoration-1{
    position: absolute;
    left: -57.99px;
    top: 247.5px;
}

.decoration-2{
    position: absolute;
    top: 16.66px;
    left: 377.15px;
}

.hero__content{
    width: 44%;
}

.hero__heading{
    margin-bottom: 24px;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__cta{
    margin-top: 38px;
}

.hero__cta--btn{
    --height: 60px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    column-gap: 10px;
    min-width: 189px;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta--icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
}

.hero__cta--link{
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}


